In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

ModuleNotFoundError: No module named 'matplotlib'

In [6]:
dogecoin = yf.Ticker('DOGE-USD')

# Get historical market data
hist = dogecoin.history(period="2y")

In [7]:
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-09-10 00:00:00+00:00,0.064009,0.065241,0.063404,0.064776,413101249,0.0,0.0
2022-09-11 00:00:00+00:00,0.064771,0.065187,0.063010,0.063714,327741964,0.0,0.0
2022-09-12 00:00:00+00:00,0.063715,0.065194,0.062878,0.063905,383630739,0.0,0.0
2022-09-13 00:00:00+00:00,0.063903,0.063981,0.059524,0.060129,461644993,0.0,0.0
2022-09-14 00:00:00+00:00,0.059717,0.061425,0.059542,0.061173,369554274,0.0,0.0
...,...,...,...,...,...,...,...
2024-09-06 00:00:00+00:00,0.098309,0.099379,0.089373,0.092484,802922234,0.0,0.0
2024-09-07 00:00:00+00:00,0.092484,0.095618,0.091812,0.095261,412044016,0.0,0.0
2024-09-08 00:00:00+00:00,0.095261,0.096903,0.094047,0.096080,381739751,0.0,0.0
2024-09-09 00:00:00+00:00,0.096080,0.104619,0.095832,0.103829,698093518,0.0,0.0
2024-09-10 00:00:00+00:00,0.103834,0.104484,0.102220,0.102442,669643456,0.0,0.0